/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/08/2021, 01:40:08 PM
    Author     : bcondori
*/

/***************validacion de campos******************/
.input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    color: #bb2929;
}

.input-error-activo {
    display: block;
    color: #bb2929;
}


.required {border-color: #c00000;}
#menInterno{margin: auto;}
#menInterno ul{float: right;}
#menInterno ul li a{font-size: 16px !important;}
.css-contenido{margin-top: 13px;}
.dVentas{background: rgba(238,238,238,0.9); padding: 10px 0px 10px 20px;}
.actual{
    background-color: #28b779 !important;
    color: #fff;
}
.daContrato .row{padding-bottom: 10px;}

/***********************************************************************************
MENU SUPERIOR: 2022-01-20
*************************************************************************************/
.miperfil{
    background: #fff !important;
}

/*fin*/
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #E30613 !important;
    color: #fff;
    cursor: default;
}

li ul{background: #1C1C1C !important;}

.autocomplete{
    position: absolute;
    border: 1px solid #c0c0c0;
    background: #F9F9FA;
    border-radius: 0px 0px 10px 10px;
    padding: 0px 10px 5px 15px;
    display:none;
    z-index: 50;
}
.autocomplete li{
    list-style: none; 
    border-bottom: 1px solid rgba(192,192,192,0.7);
    padding: 2px 0px;
    cursor: pointer;
}
.autocomplete li:hover{
    color: #007bff;
}
.autocomplete li a{color: #333333;}

.Activo{
    display: inline-block;
    background-color: #28b779 !important;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
}
.Inactivo{
    display: inline-block;
    background-color: #da542e !important;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
}
.centrar{margin: auto !important;}

.foto-perfil{
    margin: 1rem 0;
    opacity: 0.25;
    border: 1px solid currentColor;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    height: 150px;
    margin: auto;
}
.datos div{padding-top: 10px;}
#tblaDUsu tr td{text-align: center !important;}
/*******************VALIDACION DE FORMULARIOS***********************************/
/*input.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}*/
label[class="error"]{font-weight: 1 !important; color: red !important; }
.form-control:disabled{
    background-color: #fbfcfd !important;
    opacity: 1;
    pointer-events: all;
    cursor: not-allowed;
}
.btn:disabled{
    pointer-events: all;
    cursor: not-allowed;    
}

.modal-header .modal-title{color: #fff;}

/***************************TEMAS DE MENU***************************************/
#sidebarnav li a > ul{background: #141619 !important;}

/****************************************OTROS ESTILO****************************/
thead{background: #1F262D;color:#fff !important;}
.table thead th {
    color: #fff !important;
}
.cabecera{margin-bottom:  50px;border-color: #f4ccc0;}
.cabecera ul{margin: 0px; padding: 0px;text-align: center;list-style-type: none;}
.cabecera ul li{list-style: none; font-size: 25px; color: #fff; float: left; text-align: center;margin-left: 15px;}
.cabecera ul li a{list-style: none; color: #fff; text-decoration: none;}

.contenido {
    margin-bottom: 20px;
    border: 1px solid #e9ecef !important;
    padding: 20px !important;
    border-radius: 10px !important;
}
label {
    font-weight: 800 !important;
}
/************************ IMAGEN DE USUARIO EN LA VISTA DETALLES*******************/
.content-img-user{
    display: grid;
    place-content: center;
}
.content-img-user img{
    width: 120px;
    height: 150px;
    border: .5px solid;
}
/************************ LOADER (ESPERA DE PETICION DE DATOS)*******************/
/* From uiverse.io by @satyamchaudharydev */
.content-loader{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    top: 0;
    background-color: rgb(209 209 209 / 41%);
    z-index: 1500;
}
.loader {
 --clr: var(--bs-pink);
 /* color of spining  */
 width: 60px;
 height: 60px;
 position: relative;
}

.loader:before, .loader:after {
 content: "";
 position: absolute;
 top: -10px;
 left: -10px;
 width: 100%;
 height: 100%;
 border-radius: 100%;
 border: 10px solid transparent;
 border-top-color: var(--clr);
}

.loader:before {
 z-index: 100;
 animation: spin 1s infinite;
}

.loader:after {
 border: 10px solid #FFF;
}

@keyframes spin {
 0% {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
 }

 100% {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}
/***********************************************************************************
        ESTILOS PARA EL CONTENIDO GENERAL Y EL FOOTER PRINCIPAL : 2022-01-20
*************************************************************************************/
.content-main{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-y: auto;
}
.footer-main{
    margin-top: auto;
    padding: 15px 20px;
}

/*************************BOTONES************************************************/
.btn-editar{
    background: #28B779;
}
btn-cancelar{
    background: #E30613;
}
btn-otras-opciones{
    background: #27A9E3;     
}
/*********************** VISTA CON SCROLL DE ASIGNAR ROLES */
.modulos{
    /*max-height: 570px;*/
    overflow-y: auto;
}

/*************************ICONOS************************************************/
.editar{
    color: #28B779;
    font-size: 16px;
}
.ver-mas{
    color: #2255A4;
    font-size: 16px;  
}
.borrar{
    color: #E30613;
    font-size: 16px;   
}
.otras-opciones{
    color: #27A9E3;
    font-size: 16px;      
}
.otros{
    font-size: 16px;
}

/************************ESTILOS GLOBALES ***************************************/
table th{text-align: center !important;}